services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      PORT: "8787"
      DB_PATH: /app/data/puzzle.sqlite
      ADMIN_PASSWORD: "dick"
      PUBLIC_ORIGIN: "https://lockstep.binoy.co"
      API_SESSION_SECRET: "b7f2cc6b0e634a9ca3f0583f4e9cd8842a34f2183d9cf4b947f0f9d0e11fe7a3"
    ports:
      - "127.0.0.1:8787:8787"
    volumes:
      - backend-data:/app/data
    restart: unless-stopped

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "5173:80"
    restart: unless-stopped

volumes:
  backend-data:
